<div class="contact p-4">
  <div class="container text-center text-md-start">
    <h1 class="text-center p-4">Contact Us</h1>
    <div class="row align-items-center g-3">
      <div class="col-12 col-md-6">
        <img src="../../../assets/contact.png" alt="" class="w-75">
      </div>
      <div class="col-12 col-md-6">

        <form action="" class=" p-4 text-start">
          <div class="d-flex flex-column gap-5">
            <div class="d-flex flex-column">
              <label for="email">Email</label>
              <input type="email" id="email" class="border-bottom" placeholder="Youssef Mahmoud@gmail.com">
            </div>
            <div class="d-flex flex-column">
              <label for="obg">Object</label>
              <input type="text" id="obj" class="border-bottom" placeholder="Youssef Mahmoud">
            </div>
            <div class="d-flex flex-column">
              <label for="mess">Message</label>
              <input type="text" id="mess" class="border-bottom" placeholder="Your Message">
            </div>
          </div>
          <button class="btn btn-primary m-auto d-block px-5 mt-4 w-75">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>