<footer class="border-top py-2 px-4 text-center">
  <div class="row justify-content-between align-items-center">
    <div class="col-12 col-md-4">
      <img src="../../../assets/logo2.png" alt="" class="logo">
    </div>
    <div class="col-12 col-md-4">
      <p class="">2024 xcare .all rights reserved</p>
    </div>
    <div class="col-12 col-md-4">
      <div class="d-flex gap-3 justify-content-center">
        <img src="../../../assets/social/face.png" alt="">
        <img src="../../../assets/social/whats.png" alt="">
        <img src="../../../assets/social/x.png" alt="">
        <img src="../../../assets/social/git.png" alt="">
      </div>
    </div>
  </div>
</footer>