.logo {
  width: 140px;
}
.nav-link {
  font-size: 20px;
  color: white;
}
.navbar-toggler {
  border: none;
  box-shadow: none;
}
.badge {
  font-size: small;
}
.gradient {
  background-image: linear-gradient(to right, #f53d47, #26b2dc, #00507c);
  border: 0;
}
.nav-link {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-link:hover {
  cursor: pointer;
  border-bottom: solid #fc5d65 2px;
}
button{
  min-height: 40px !important;

}