<div class="landing py-5">
  <div class="img position-relative overflow-hidden p-5">
    <img src="../../../assets/landing.jpg" class="img-fluid back" alt="">
    <img src="../../../assets/overlay.png" alt="" class="overlay position-absolute start-0 top-0">
    <div class="container-fluid position-absolute bottom-0 start-0  p-0">
      <div class="row justify-content-around">
        <div class="d-flex flex-column justify-content-center align-items-center col-12 col-md-6 p-4">
          <img src="../../../assets/logo2.png" alt="" class="logo">
          <p class="text-center text-white text-uppercase">The Future of Modern Medical Care: Advancements,<br>
            Challenges, and Transformative Technologies.</p>
        </div>
        <div class="col-12 col-md-6 d-flex">

          <img src="../../../assets/Group 6988.png" alt="" class="group img-fluid ms-auto">
        </div>
      </div>
    </div>
  </div>
</div>