<div class="my-4 position-relative overflow-hidden">

  <img src="../../../assets/overlay.png" alt="" class="overlay">

  <div class="container position-absolute start-50 top-50 translate-middle m-4 text-center text-md-start">
    <div class="row">
      <div class="col-12 col-md-6">

        <div class="content  d-flex flex-column justify-content-center">
          <h1 class="fw-bolder display-3">AI X-CARE</h1>
          <p class="lh-lg fs-5">Image Insights, Not Answers: Have a skin concern or question?
            Upload an image for preliminary analysis, but
            remember, diagnosis still requires a doctor's
            expertise. We wouldn't want you to miss anything important!
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="position-relative">

          <img src="../../../assets/ai/Group 6990.png" alt="" class="w-75">
          <img src="../../../assets/ai/Group 6989.png" alt=""
            class="position-absolute top-50 start-50 translate-middle w-75">
        </div>
      </div>

    </div>

  </div>
</div>